.redBackground {
	background-color: red;
}

.greenBackground {
	background-color: green;
}

/*.container {
	background-color: #FFFFFF;
	margin: 2em auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 2em 2em 7em;
	z-index: 1;
	width: 850px;
}*/

.ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before, ul.ui.list li:before {
   content: "";
}

div.dictoOpenable.ui.grid, div.dictoOpenable.description {
  display: none;
}

.pointerCursor {
  cursor: pointer;
}
.violationsContainer h4 {
    margin-top: 0;
}

body {
    background: #ffffff;
}

div.adddedViolations, div.resolvedViolations {
    margin-bottom: 20px;
}

.ui.grid {
    margin: 0;
}

div.fix {
    font-size: 12px;
    padding-left: 5px;
    color: #797979;
    display: none;
}

li.violation {
    cursor: pointer;
}

div.allViolations {
    display: none;
}

div.resolvedViolations {
    display: none;
}
