.redBackground {
	background-color: red;
}

.greenBackground {
	background-color: green;
}

/*.container {
	background-color: #FFFFFF;
	margin: 2em auto;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 2em 2em 7em;
	z-index: 1;
	width: 850px;
}*/

.ui.bulleted.list .list>.item:before, .ui.bulleted.list>.item:before, ul.ui.list li:before {
   content: "";
}

.dictoOpenable {
  display: none;
}

.pointerCursor {
  cursor: pointer;
}
